<script type="text/javascript">
	//<![CDATA[
	XHR.poll(3, '<%=url([[admin]], [[services]], [[ddnsgo]], [[status]])%>', null,
		function(x, data) {
			var tb = document.getElementById('ddnsgo_status');
			if (st && tb)
			{
				if (st.running)
				{
					tb.innerHTML = '<br/><em style=\"color:green\"><%:The DDNS-GO service is running.%></em>'
						+ "<br/><br/><input class=\"btn cbi-button cbi-button-apply\" type=\"button\" value=\" <%:Click to open DDNS-GO%> \" onclick=\"window.open('http://" + window.location.hostname + ":" + st.port + "/')\"/>";
				}
				else
				{
					tb.innerHTML = '<br/><em style=\"color:red\"><%:The DDNS-GO service is not running.%></em>';
				}
			}
		}
	);
//]]></script>

<fieldset class="cbi-section">
	<legend><%:DDNS-GO Status%></legend>
	<p id="ddnsgo_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
